{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'petclinic/style.css' %}">

<h1>Welcome</h1>

<ul>
    <li><a href="{% url 'petclinic:specialty' %}">specialty</a></li>
    <li><a href="{% url 'petclinic:petType' %}">petType</a></li>
    <li><a href="{% url 'petclinic:veterinarian' %}">veterinarian</a></li>
    <li><a href="{% url 'petclinic:owner' %}">owner</a></li>
    <li><a href="{% url 'petclinic:pet' %}">pet</a></li>
    <li><a href="{% url 'petclinic:visit' %}">visit</a></li>
</ul>


