{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'petclinic/style.css' %}">

<h1>Welcome</h1>

<ul>
    <li><a href="{% url 'petclinic:specialty_list' %}">specialty</a></li>
    <li><a href="{% url 'petclinic:pettype_list' %}">petType</a></li>
    <li><a href="{% url 'petclinic:veterinarian_list' %}">veterinarian</a></li>
    <li><a href="{% url 'petclinic:owner_list' %}">owner</a></li>
    <li><a href="{% url 'petclinic:pet_list' %}">pet</a></li>
    <li><a href="{% url 'petclinic:visit_list' %}">visit</a></li>
</ul>


