{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'petclinic/style.css' %}">

<h1>Owners Detail</h1>

<ul>
    <li> {{ owner.id}} </li>
    <li> {{ owner.owner_first_name}} </li>
    <li> {{ owner.owner_last_name}} </li>
    <li> {{ owner.owner_address}} </li>
    <li> {{ owner.owner_house_number}} </li>
    <li> {{ owner.owner_address_info}} </li>
    <li> {{ owner.owner_city}} </li>
    <li> {{ owner.owner_zip_code}} </li>
    <li> {{ owner.owner_phone_number}} </li>
</ul>
